/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

/* Custom CSS */

/* Media Queries */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
