/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

/* Custom CSS */
body {
  background-color: #ffc1bb !important;
}

#dog-container {
  background-color: #aaedff !important;
}

#dog-container header h1 {
  text-shadow: 2px 2px #0081a4;
}

h1 {
  color: #000;
  text-shadow: 2px 2px #ff7c71;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  padding-top: 3rem;
}

h2 {
  color: #ff7c71;
  font-family: 'Roboto Slab', serif;
}
/* Homepage Cat and Dog Icons */
svg #kitten-outline {
fill: #ffd9d5;
}

svg #kitten-fill{
fill: #ffffff00;
}

svg #kitten-fill:hover {
fill: #ff7c71;
}

svg #doggy-outline {
fill: #d0f5ff;
}

svg #doggy-fill{
fill: #ffffff00;
}

svg #doggy-fill:hover {
fill: #0081a4;
}

/* Images to fill the full container*/
.img-fluid {
width: 100%;
}

button {
  width: 100%;
}

.cat-box {
  background-color: #ffd9d5;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
}

.dog-box {
  background-color: #d0f5ff;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
}

#cat_result img, #dog_result img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  object-position: center;
}